<form id="searchItems">
    <label for="show_search_term" class="search-form-label">Search</label>
    <input type="text" id="item_search_term" class="search-input">
    <input type="submit" value="Submit" class="search-submit">
</form>

<ul id ="back-to-all" hidden>
    <a href="/items">Back to all items</a>
</ul>

<div id ="all-items">
{{#each items}}
{{#if (eq (mod @index 2) 0)}}
<div class="item-row">
{{/if}}
<div class="item">
    <p>Item: <a href="/items/{{this._id}}">{{this.item}}</a></p>
    <p>Price: ${{this.price}}</p>
    <p> 
        {{!-- {{#each this.picture}}
            <img alt="Item Picture {{item.item}}" src="{{this}}" >
        {{/each}} --}}
        {{!-- {{#if this.picture[0]}}
            <img alt="Item Picture {{item.item}}" src="{{this.picture[0]}}" >
        {{/if}} --}}
        <img alt="Item Picture {{item.item}}" src="{{this.picture}}" >
    </p>
    <p>Location: {{this.location}}</p>
    <p></p>Condition: {{this.condition}}</p>
</div>
{{#if (or (eq (mod @index 2) 1) (eq @index (subtract (length items) 1)))}}
    </div>
{{/if}}
{{/each}}
</div>

<div id="search-result" hidden>

</div>



<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src='/public/js/search_filter.js'></script>

