<link rel="stylesheet" href="/public/css/confirmMeetUpTimeStyles.css">
<h1>Confirm Meet Up Time</h1>
{{#if items}}
<table>
    <thead>
        <th id="ItemName">ItemName</th>
        <th id="Price">Price</th>
        <th id="Picture">Picture</th>
        <th id="Location">Location</th>
        <th id="Condition">Condition</th>
        <th id="Quantity">Quantity</th>
        <th id="BuyerName">Buyer Name</th>
        <th id="MeetUpTime">Meet Up Time</th>
        <th id="Decision">Decision</th>
    </thead>
    <tbody>
        {{#each items}}
        <tr>
            <td><a href="/items/{{this.item._id}}">{{this.item.item}}</a></td>
            <td>${{this.item.price}}</td>
            <td>

                <img alt="{{this.item.item}}" src="{{this.item.picture}}" width="50" height="50">

            </td>
            <td>{{this.item.location}}</td>
            <td>{{this.item.condition}}</td>
            <td>quantity: {{this.meetUpInfo.quantity}}</td>
            <td>buyerName: {{this.buyerName}}</td>
            <td>Meet Up Time:{{this.meetUpInfo.meetUpTime}}</td>
            <td>
                <button class="confirm" type="button" value="{{this.meetUpInfo.transactionId}}"
                    data-buyer="{{this.meetUpInfo.buyerId}}">confirm</button>
                <button class="deny" type="button" value="{{this.meetUpInfo.transactionId}}"
                    data-buyer="{{this.meetUpInfo.buyerId}}">deny</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div>
    <p>No meet up need to confirm!</p>
</div>
{{/if}}

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="/public/js/confirmMeetUpTime.js"></script>