<h1>Sales Record</h1>
{{#if items}}
<table>
    <thead>
    </thead>
    <tbody>
        {{#each items}}
        {{#if this.meetUp}}
        <tr class="item">
            <td><a href="/items/{{this.item._id}}">{{this.item.item}}</a></td>
            <td>${{this.price}}</td>
            <td>
                <img alt="{{this.item.item}}" src="{{this.item.picture}}" width="50" height="50">
            </td>
            <td>{{this.item.location}}</td>
            <td>quantity:{{this.saleRecord.quantity}}</td>
            <td>buyer:{{this.buyer}}</td>
            {{#if this.saleRecord.meetUpTime}}
            <td>meet up time : {{this.saleRecord.meetUpTime}} </td>
            {{/if}}
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>
<table>
    <thead>
    </thead>
    <tbody>
        {{#each items}}
        {{#if (checkBoolean this.meetUp)}}
        <tr class="item">
            <td><a href="/items/{{this.item._id}}">{{this.item.item}}</a></td>
            <td>${{this.price}}</td>
            <td>
                <img alt="{{this.item.item}}" src="{{this.item.picture}}" width="50" height="50">
            </td>
            <td>{{this.item.location}}</td>
            <td>quantity:{{this.saleRecord.quantity}}</td>
            <td>buyer:{{this.buyer}}</td>
            {{#if this.saleRecord.meetUpTime}}
            <td>meet up time : {{this.saleRecord.meetUpTime}} </td>
            {{/if}}
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>
{{else}}
<div>
    <p>No items have been sold yet!</p>
</div>
{{/if}}