<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Orders</title>
    <link rel="stylesheet" href="/public/css/historicalSoldItemsStyles.css">
</head>

<h1>Sales Record</h1>
{{#if items}}
<table>
    <thead>
    </thead>
    <tbody>
        {{#each items}}
        {{#if this.meetUp}}
        <tr>
            <td><a href="/items/{{this.item._id}}">{{this.item.item}}</a></td>
            <td>${{this.item.price}}</td>
            <td>
                <img alt="{{this.item.item}}" src="{{this.item.picture}}" width="50" height="50">
            </td>
            <td>{{this.item.location}}</td>
            <td>Quantity: {{this.saleRecord.quantity}}</td>
            <td>Buyer: {{this.buyer}}</td>
            {{#if this.saleRecord.meetUpTime}}
            <td>Meet Up Time: {{this.saleRecord.meetUpTime}} </td>
            {{/if}}
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th id="ItemName">ItemName</th>
            <th id="Price">Price</th>
            <th id="Picture">Picture</th>
            <th id="Location">Location</th>
            <th id="Quantity">Quantity</th>
            <th id="Buyer">Buyer</th>
        </tr>
    </thead>
    <tbody>
        {{#each items}}
        {{#if (checkBoolean this.meetUp)}}
        <tr>
            <td><a href="/items/{{this.item._id}}">{{this.item.item}}</a></td>
            <td>${{this.item.price}}</td>
            <td>
                <img alt="{{this.item.item}}" src="{{this.item.picture}}" width="50" height="50">
            </td>
            <td>{{this.item.location}}</td>
            <td>Quantity: {{this.saleRecord.quantity}}</td>
            <td>Buyer: {{this.buyer}}</td>
            {{#if this.saleRecord.meetUpTime}}
            <td>Meet Up Time: {{this.saleRecord.meetUpTime}} </td>
            {{/if}}
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>
{{else}}
<div>
    <p>No items have been sold yet!</p>
</div>
{{/if}}

</html>