<link rel="stylesheet" href="/public/css/itemsForSaleStyles.css">
<h1>Items For Sale</h1>
{{#if items}}
<table>
    <thead>
        <th id="ItemName">ItemName</th>
        <th id="Price">Price</th>
        <th id="Picture">Picture</th>
        <th id="Location">Location</th>
        <th id="Condition">Condition</th>
        <th id="Quantity">Quantity</th>
        <th id="RatingComment">Rating and Comment</th>
        <th id="Review">Review</th>
    </thead>
    <tbody>
        {{#each items}}
        <tr>
            <td><a href="/items/{{this._id}}">{{this.item}}</a></td>
            <td>${{this.price}}</td>
            <td>
                <img alt="{{this.item}}" src="{{this.picture}}" width="50" height="50">
            </td>
            <td>{{this.location}}</td>
            <td>{{this.condition}}</td>
            <td>{{this.quantity}}</td>
            <td>
                <button class="removeItem" type="button" value="{{this._id}}">Remove</button>
            </td>
            <td>
                {{#if this.comments}}
                <ul>
                    {{#each this.comments}}
                    <li>
                        <p>Rating: {{this.rating}}</p>
                        <p>Comment: {{this.comment}}</p>
                    </li>
                    {{/each}}
                </ul>
                {{else}}
                No comments
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div>
    <p>No item listing yet!</p>
</div>
{{/if}}


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="/public/js/itemsForSale.js"></script>