<h1>Items For Sale</h1>
{{#if items}}
<table>
    <thead>
        {{!-- <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Picture</th>
            <th>Location</th>
            <th>Condition</th>
            <th>Quantity</th>
            <th>Remove</th>
        </tr> --}}
    </thead>
    <tbody>
        {{#each items}}
        <tr class="item">
            <td><a href="/items/{{this._id}}">{{this.item}}</a></td>
            <td>${{this.price}}</td>
            <td>
                {{#each this.picture}}
                <img alt="Item Picture {{../item.item}}" src="{{this}}" width="50" height="50">
                {{/each}}
            </td>
            <td>{{this.location}}</td>
            <td>{{this.condition}}</td>
            <td>{{this.quantity}}</td>
            <td>
                <button class="removeItem" type="button" value="{{this._id}}">Remove</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div>
    <p>No item listing yet!</p>
</div>
{{/if}}


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="/public/js/itemsForSale.js"></script>
