<link rel="stylesheet" href="/public/css/sellerInformationstyles.css">
<h1>Seller's product</h1>

{{!-- <p><a href="javascript:history.go(-1)">Back to item</a></p> --}}
<p><a href="/items">Back to all items</a></p>
<p>Seller: {{seller.firstName}} {{seller.lastName}}</p>
<p>History:</p>
{{#if items}}
<table>
    <thead>
        <tr>
            <th id="ItemName">ItemName</th>
            <th id="Price">Price</th>
            <th id="Picture">Picture</th>
            <th id="Location">Location</th>
            <th id="Condition">Condition</th>
            <th id="RatingComment">Rating and Comment</th>
        </tr>
    </thead>
    <tbody>
        {{#each items}}
        <tr>
            <td><a href="/items/{{this._id}}">{{this.item}}</a></td>
            <td>${{this.price}}</td>
            <td>
                {{#each this.picture}}
                <img alt="Item Picture {{../item.item}}" src="{{this}}" width="50" height="50">
                {{/each}}
            </td>
            <td>{{this.location}}</td>
            <td>{{this.condition}}</td>
            <td>
                {{#if this.comments}}
                <ul>
                    {{#each this.comments}}
                    <li>
                        <p>Rating: {{this.rating}}</p>
                        <p>Comment: {{this.comment}}</p>
                    </li>
                    {{/each}}
                </ul>
                {{else}}
                No comments
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div>
    <p>No items have been sold yet!</p>
</div>
{{/if}}