<h1>Shopping Cart</h1>
{{#each items}}
<div class="item">
    <p>Item: <a href="/items/{{this.item._id}}">{{this.item.item}}</a></p>
    <p>Price: ${{this.item.price}}</p>
    <p> 
        {{#each this.item.picture}}
            <img alt="Item Picture {{item.item.item}}" src="{{this}}" >
        {{/each}}
    </p>
    <p>Location: {{this.item.location}}</p>
    <p>Condition: {{this.item.condition}}</p>
    <p>Quantity: {{this.quantity}}</p>
</div>
{{/each}}
