<h1>Shopping Cart</h1>
{{#if items}}
<table>
    <thead>

    </thead>
    <tbody>
        {{#each items}}
        <tr class="item">
            <td><a href="/items/{{this.item._id}}">{{this.item.item}}</a></td>
            <td>${{this.item.price}}</td>
            <td>
                
                <img alt="{{this.item.item}}" src="{{this.item.picture}}" width="50" height="50">
                
            </td>
            <td>{{this.item.location}}</td>
            <td>{{this.item.condition}}</td>
            <td>{{this.quantity}}</td>
            <td>
                <button class="removeItem" type="button" value="{{this.item._id}}">Remove</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<button id="checkOut" type="submit">Check Out</button>
{{else}}
<div>
    <p>No item in the cart!</p>
</div>
{{/if}}

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="/public/js/shoppingCart.js"></script>