<link rel="stylesheet" href="/public/css/shoppingCartStyles.css">
<h1 class="shoppingCart">Shopping Cart</h1>
{{#if items}}
<table>
    <thead class="tableThead">
        <tr>
            <th id="ItemName">ItemName</th>
            <th id="Price">Price</th>
            <th id="Picture">Picture</th>
            <th id="Location">Location</th>
            <th id="Condition">Condition</th>
            <th id="Quantity">Quantity</th>
            <th id="Action">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each items}}
        <tr>
            <td headers="ItemName"><a href="/items/{{this.item._id}}">{{this.item.item}}</a></td>
            <td headers="Price">${{this.item.price}}</td>
            <td headers="Picture">

                <img alt="{{this.item.item}}" src="{{this.item.picture}}" width="75" height="75">

            </td>
            <td headers="Location">{{this.item.location}}</td>
            <td headers="Condition">{{this.item.condition}}</td>
            <td headers="Quantity">{{this.quantity}}</td>
            <td headers="Action">
                <button class="removeItem" type="button" value="{{this.item._id}}">Remove</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<button id="checkOut" type="submit">Check Out</button>
{{else}}
<div>
    <p>No item in the cart!</p>
</div>
{{/if}}

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="/public/js/shoppingCart.js"></script>